name: Check for CI

on:
  push: 
    branches: 
    - '*'

# env:

jobs:
  setup-build-publish:
    name: Check for CI
    runs-on: ubuntu-latest
  
    steps:
    - uses: actions/checkout@v3

    - name: Setup Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        pip install --upgrade pip setuptools
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install pytest

    # - name: Run the application
    #   run: |
    #     uvicorn app:app
    

    - name: Test
      run: |
        curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter    
        chmod +x ./cc-test-reporter    
        ./cc-test-reporter before-build  
        pytest -v
      store_test_results:
        path: htmlcov

    - name: See the files
      run: ls htmlcov
    
    - name: Send mail
      uses: dawidd6/action-send-mail@v3
      with: 
        connection_url: ${{secrets.MAIL_CONNECTION}}
        server_address: smtp.gmail.com
        server_port: 465
        secure: true
        username: ${{secrets.MAIL_USERNAME}}
        password: ${{secrets.MAIL_PASSWORD}}
        subject: Github Actions job result
        to: alvynabranches@gmail.com
        from: Github Actions Job
        body: Build job of ${{github.repository}} completed {{job.status}}}!
        html_body: file://README.html
        # cc: kyloren@example.com,leia@example.com
        # bcc: r2d2@example.com,hansolo@example.com
        # reply_to: luke@example.com
        # in_reply_to: <random-luke@example.com>
        ignore_cert: true
        convert_markdown: true
        # attachments: attachments.zip,git.diff,./dist/static/*.js
        priority: high
      if: always()
        
